@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand:wght@500;600&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.forms {
  width: 400px;
  background: #081420;
}

.forms .form-content .title {
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}


.forms .form-content .input-box {
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.forms .form-content .input-box .title {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 178.687%;
}
.forms .form-content .input-box .phone {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14),
    0px 8px 28px -6px rgba(24, 39, 75, 0.12);
  width: 50.762px;
  height: 51.068px;
  flex-shrink: 0;
}

.forms .form-content .input-box .phone-input {
  width: 290.473px;
  height: 51.068px;
  flex-shrink: 0;
}
.form-content .input-box input {
  width: 350px;
  height: 50.301px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14),
    0px 8px 28px -6px rgba(24, 39, 75, 0.12);
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: #16b813;
}

.form-content .input-box .icon {
  position: absolute;
  color: #16b813;
  font-size: 17px;
}

.forms .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.forms .form-content .text a {
  text-decoration: none;
}

.forms .form-content .text a:hover {
  text-decoration: underline;
}

.forms .form-content .button button {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 350px;
  height: 52.173px;
  border-radius: 8px;
  background: #2eca34;
  box-shadow: 0px 18px 88px -4px rgba(151, 168, 209, 0.14),
    0px 8px 28px -6px rgba(24, 39, 75, 0.12);
}

.forms .form-content label {
  color: #5013b8;
  cursor: pointer;
}

.forms .form-content label:hover {
  text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 178.687%; /* 28.59px */
}

.container #flip {
  display: none;
}
